---
import Counter from '../components/Counter.jsx';
import './index.css';
---


<html>
  <head>
	<title>My Astro Site</title>
	<link rel="stylesheet" href="/style.css">
  </head>
  <body>
	<h1>My Astro Site</h1>
	<p>Welcome to my site!</p>
	<Counter client:load/>
  </body>
</html>

